/* map-china Start */
svg.map-china{
   zoom:1;
   /* margin:0 auto; */ /* IE 下会不正常 */
}
.map-china .province-g {
    cursor: pointer;
}
.map-china .province-path-g {
    opacity: 0;
    transition: opacity .3s;
    -ms-transition: opacity .3s;
}
.map-china .province-g:hover .province-path-g {
    opacity: 1;
}
/* .province-path-g>path animation */
.map-china .province-path-g >path{
    stroke:rgb(145, 215, 255);
    stroke-width:3px;
    stroke-linecap: butt;
    stroke-linejoin: round;
    /* stroke-dasharray:200,2000; */
    stroke-dasharray:2500;
    /* stroke-dashoffset:2000; */
    animation: provincePath 5s linear 0s infinite
}
@keyframes provincePath {
    from{
        stroke-dashoffset:2500;
    }
    to{
        stroke-dashoffset:0;
    }
}
/* map-china End */

/* map-province Start */
svg.map-province{
    zoom: 1;
}
svg.map-province .province-company{
    cursor:pointer;
}
svg.map-province .province-company:hover> path,
svg.map-province .province-company:hover> g> polygon,
svg.map-province .province-company:hover path {
    fill:#FFEB3B !important;
}
/* map-province End */

.map-btn rect {
    -webkit-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}
.map-btn:hover rect {
    fill: #ffc481;
}