* {
  font-size: 0.34666667rem;
  box-sizing: border-box;
}
header {
  height: 1.2rem;
  box-sizing: border-box;
  padding: 0 0.26666667rem;
  border-bottom: 2px solid #076c8b;
  background-color: #143c64;
  text-align: center;
  position: relative;
  transition: all .5s;
  z-index: 9;
}
header .header-menu-box {
  position: relative;
  height: 100%;
}
header .header-menu-box ol {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  margin-top: -0.4rem;
  transition: transform .5s;
}
header .header-menu-box ol li {
  width: 0.85333333rem;
  height: 0.05333333rem;
  background-color: #fff;
  margin: 0.16rem 0.24rem;
}
header .header-menu-box ol.current {
  transform: rotate(90deg) scaleX(0.8);
}
header .header-menu-box ul {
  width: 10rem;
  position: absolute;
  top: 1.2rem;
  left: -0.26666667rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .5s;
  height: 0;
}
header .header-menu-box ul li {
  padding-left: 1.33333333rem;
  text-align: left;
  width: 100%;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 0.42666667rem;
  height: 0;
  line-height: 0;
  transition: all .3s;
  overflow: hidden;
}
header .header-menu-box ul.current {
  opacity: 1;
  height: auto;
}
header .header-menu-box ul.current li {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
}
header h3 {
  display: inline-block;
  font-size: 0.42666667rem;
  font-weight: normal;
  line-height: 1.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
header .search-box {
  width: 1.33333333rem;
  height: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
}
header .search-box .search-icon-box {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}
header .search-box .search-icon-box .search-icon {
  border: 2px solid #fff;
  width: 0.45333333rem;
  height: 0.45333333rem;
  border-radius: 0.44rem;
  position: relative;
}
header .search-box .search-icon-box .search-icon::after {
  content: "";
  width: 2px;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  margin-right: -1px;
}
header .search-box .search-icon-box .search-bar {
  width: 6rem;
}
header.current {
  background-color: rgba(0, 0, 0, 0.5);
}
.box-header {
  width: 100%;
  height: 1.2rem;
  background-color: #0f2e4d;
  border-bottom: 1px solid #36e1ed;
  margin-top: 0.26666667rem;
}
.box-header .BH-left {
  float: left;
  height: 100%;
  padding-left: 0.26666667rem;
  font-size: 0.37333333rem;
  position: relative;
}
.box-header .BH-left h4 {
  width: auto;
  height: 1.2rem;
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  float: left;
  position: relative;
  font-weight: normal;
}
.box-header .BH-left h4::after {
  content: "";
  dispplay: block;
  float: right;
  width: 0;
  height: 0;
  border-width: 0.13333333rem 0 0.13333333rem 0.13333333rem;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #fff;
  margin-left: 0.13333333rem;
  position: absolute;
  right: 0;
  top: 0.53333333rem;
  transition: all .5s ;
}
.box-header .BH-left ul {
  min-width: 100%;
  height: auto;
  float: left;
  position: absolute;
  left: 0;
  top: 1.2rem;
  text-align: center;
  z-index: 9;
}
.box-header .BH-left ul li {
  width: auto;
  min-width: 100%;
  height: 0.8rem;
  line-height: 0.66666667rem;
  background-color: #0b2137;
  border-bottom: 1px solid rgba(45, 168, 229, 0.8);
  text-align: center;
  display: none;
  padding: 0 0.26666667rem;
  white-space: nowrap;
}
.box-header .BH-left ul li:hover {
  background-color: #2274ab;
}
.box-header .BH-left::before {
  content: "";
  display: block;
  float: left;
  width: 4px;
  height: 36px;
  background-color: #fffd58;
  margin-top: 0.37333333rem;
  margin-right: 0.26666667rem;
}
.box-header .BH-left.current h4::after {
  transform: rotate(90deg);
}
.box-header .BH-right {
  float: right;
  height: 1.2rem;
  position: relative;
}
.box-header .BH-right input {
  background-color: transparent;
  width: auto;
  font-size: 0.32rem;
  border: none;
  padding: 5px 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.power-type-select {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.9);
  margin-top: 0;
}
ul.power-type > li {
  display: none;
}
ul.power-type > li.current {
  display: block;
}
.table-box {
  padding: 0 0.13333333rem;
  transition: height .4s;
  background-color: rgba(15, 55, 90, 0.8);
  /*table-header*/
}
.table-box .classify-box {
  height: 1.06666667rem;
  width: 100%;
  background-color: #0f2e4d;
}
.table-box .classify-box ul {
  height: 1.06666667rem;
}
.table-box .classify-box ul li {
  float: left;
  width: 25%;
  text-align: center;
  line-height: 1.06666667rem;
  font-size: 0.37333333rem;
  color: #aaa;
}
.table-box .classify-box ul li.current {
  color: #FFF;
  position: relative;
}
.table-box .classify-box ul li.current::after {
  content: "";
  width: 1.33333333rem;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.table-box .classify-content-box li {
  display: none;
}
.table-box .classify-content-box li.current {
  display: block;
}
.table-box .table-header {
  width: 100%;
  height: 1.06666667rem;
  background-color: #0e3254;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
.table-box .table-header .table-title {
  float: left;
  height: 100%;
  padding-left: 0.26666667rem;
  font-size: 0.37333333rem;
  position: relative;
  z-index: 7;
}
.table-box .table-header .table-title h4 {
  width: auto;
  height: 1.06666667rem;
  padding-top: 0.33333333rem;
  padding-right: 0.4rem;
  float: left;
  position: relative;
  font-weight: normal;
  font-size: 0.34666667rem;
}
.table-box .table-header .table-title h4::after {
  content: "";
  dispplay: block;
  float: right;
  width: 0;
  height: 0;
  border-width: 0.13333333rem 0 0.13333333rem 0.13333333rem;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #fff;
  margin-left: 0.13333333rem;
  position: absolute;
  right: 0;
  top: 0.4rem;
  transition: all .5s ;
}
.table-box .table-header .table-title ul {
  min-width: 100%;
  height: auto;
  float: left;
  position: absolute;
  left: 0;
  top: 1.06666667rem;
  text-align: center;
  z-index: 8;
}
.table-box .table-header .table-title ul li {
  width: auto;
  min-width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  background-color: #0b2137;
  border-bottom: 1px solid rgba(45, 168, 229, 0.8);
  text-align: center;
  display: none;
  padding: 0 0.26666667rem;
  white-space: nowrap;
}
.table-box .table-header .table-title ul li:hover {
  background-color: #2274ab;
}
.table-box .table-header .table-title::before {
  content: "";
  display: block;
  float: left;
  width: 4px;
  height: 36px;
  background-color: #fffd58;
  margin-top: 0.30666667rem;
  margin-right: 0.26666667rem;
}
.table-box .table-header .table-title.current h4::after {
  transform: rotate(90deg);
}
.table-box ul.table-content-main li {
  display: none;
}
.table-box ul.table-content-main li.current {
  display: block;
}
.table-box #pw-table-box {
  width: 100%;
  position: relative;
  transition: height .1s;
}
.table-box #pw-table-box .pw-table-in {
  position: absolute;
}
.table-box .table-data-head {
  width: 100%;
}
.table-box .table-data-head li {
  float: left;
  width: 33.333%;
  height: 1.86666667rem;
  background-color: #174574;
  text-align: center;
  position: relative;
}
.table-box .table-data-head li h3 {
  font-size: 0.42666667rem;
  color: #fffd58;
  font-weight: normal;
  line-height: 1.06666667rem;
}
.table-box .table-data-head li p {
  font-size: 0.29333333rem;
  color: #FFF;
}
.table-box .table-data-head li::after {
  content: "";
  height: 1.6rem;
  width: 2px;
  background-color: #2368ae;
  position: absolute;
  right: 0;
  top: 0.13333333rem;
}
.table-box .table-data {
  width: 100%;
  border-collapse: collapse;
}
.table-box .table-data li {
  background-color: #2274ab;
  width: 100%;
}
.table-box .table-data li dl {
  padding: 0.26666667rem 0;
  border-bottom: 1px solid #36afe7;
}
.table-box .table-data li dl dt {
  width: 70%;
  float: left;
  padding-left: 0.8rem;
}
.table-box .table-data li dl dd {
  width: 30%;
  float: left;
}
.table-box .table-data li dl::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.table-box .table-data li:nth-child(even) {
  background-color: #144b78;
}
.table-box .table-content-main {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.table-box .table-content-main table {
  border-collapse: collapse;
}
.table-box .table-content-main .table-fixed-box {
  float: left;
  width: 2.5rem;
}
.table-box .table-content-main .table-main-box {
  float: left;
  overflow-x: auto;
  width: calc(97.5%);
}
.table-box .table-content-main table.table-main {
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 100%;
  table-layout: fixed;
}
.table-box .table-content-main table.table-main tr {
  border-bottom: 1px solid rgba(55, 170, 230, 0.8);
}
.table-box .table-content-main table.table-main tr th {
  padding: 0.26666667rem 0.26666667rem;
  min-width: 2.5rem;
  /* white-space:nowrap; */
}
.table-box .table-content-main table.table-main tr td {
  padding: 0.26666667rem 0.26666667rem;
  text-align: left;
  min-width: 2.5rem;
}
.table-box .table-content-main table.table-main tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}
.table-box .table-content-main table.table-main thead tr {
  background-color: rgba(0, 0, 0, 0.1);
}
/*table-box*/
.chart-box {
  padding: 0.13333333rem 0.26666667rem;
  border-bottom: 1px solid #1970b0;
  margin-bottom: 0.53333333rem;
}
#chart1 {
  width: 100%;
  height: 4.8rem;
}
#chart2 {
  width: 100%;
  height: 5.33333333rem;
}
#chart2_2,
#chart2_3 {
  width: calc(9.46666667rem);
  height: 5.33333333rem;
}
#chart3 {
  width: 100%;
  height: 4.8rem;
}
#chart5_2,
#chart6,
#chart6_2,
#chart6_3,
#chart6_4 {
  width: calc(9.46666667rem);
  height: 5.33333333rem;
}
.chart-box-container .chart-box > ul > li {
  display: none;
}
.chart-box-container .chart-box > ul > li.current {
  display: block;
}
.capacity-box {
  width: 100%;
  height: auto;
  margin-top: 0.26666667rem;
  position: relative;
}
.capacity-box .capacity-title {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
  height: 1.06666667rem;
}
.capacity-box .capacity-title h4 {
  position: absolute;
  font-size: 0.37333333rem;
  text-align: center;
  font-weight: normal;
  line-height: 1.06666667rem;
  padding: 0 0.26666667rem;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.capacity-box .capacity-title::before {
  content: "";
  display: inline-block;
  width: 35%;
  height: 2px;
  background-color: #fff;
  margin-top: 0.52rem;
}
.capacity-box .capacity-title::after {
  content: "";
  display: inline-block;
  width: 35%;
  height: 2px;
  background-color: #fff;
  margin-top: 0.52rem;
  float: right;
}
.capacity-box .capacity-table-box {
  width: 100%;
  padding: 0 0.13333333rem;
  overflow-x: auto;
  position: relative;
}
.capacity-box .capacity-table-box table.capacity-table {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 100%;
  width: auto;
  table-layout: fixed;
}
.capacity-box .capacity-table-box table.capacity-table tr {
  border-bottom: 1px solid rgba(55, 170, 230, 0.8);
}
.capacity-box .capacity-table-box table.capacity-table tr th {
  padding: 0.26666667rem 0.13333333rem;
  /* border-right: 1px solid rgba(55,170,230,.8); */
  min-width: 2.5rem;
}
.capacity-box .capacity-table-box table.capacity-table tr th:last-child {
  border: none;
}
.capacity-box .capacity-table-box table.capacity-table tr td {
  padding: 0.26666667rem 0.13333333rem;
  text-align: center;
  width: 2.5rem;
}
.capacity-box .capacity-table-box table.capacity-table tr td:last-child {
  border: none;
}
.capacity-box .capacity-table-box table.capacity-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}
.capacity-box .capacity-table-box table.capacity-table thead tr {
  background-color: rgba(0, 0, 0, 0.2);
}
.generator-box {
  width: 100%;
  height: auto;
  margin-top: 0.26666667rem;
  position: relative;
}
.generator-box .generator-title {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
  height: 1.06666667rem;
}
.generator-box .generator-title h4 {
  position: absolute;
  font-size: 0.37333333rem;
  text-align: center;
  font-weight: normal;
  line-height: 1.06666667rem;
  padding: 0 0.26666667rem;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.generator-box .generator-title::before {
  content: "";
  display: inline-block;
  width: 35%;
  height: 2px;
  background-color: #fff;
  margin-top: 0.52rem;
}
.generator-box .generator-title::after {
  content: "";
  display: inline-block;
  width: 35%;
  height: 2px;
  background-color: #fff;
  margin-top: 0.52rem;
  float: right;
}
.generator-box .generator-table-box {
  width: 100%;
  padding: 0 0.13333333rem;
  overflow-x: auto;
  position: relative;
}
.generator-box .generator-table-box table.generator-table {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 100%;
  width: auto;
  table-layout: fixed;
}
.generator-box .generator-table-box table.generator-table tr {
  border-bottom: 1px solid rgba(55, 170, 230, 0.8);
}
.generator-box .generator-table-box table.generator-table tr th {
  padding: 0.26666667rem 0.13333333rem;
  /* border-right: 1px solid rgba(55,170,230,.8); */
  min-width: 2.5rem;
  text-align: left;
}
.generator-box .generator-table-box table.generator-table tr th:last-child {
  border: none;
}
.generator-box .generator-table-box table.generator-table tr td {
  padding: 0.26666667rem 0.13333333rem;
  text-align: left;
  width: 2.5rem;
}
.generator-box .generator-table-box table.generator-table tr td:last-child {
  border: none;
}
.generator-box .generator-table-box table.generator-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}
.generator-box .generator-table-box table.generator-table thead tr {
  background-color: rgba(0, 0, 0, 0.2);
}
.generator-box .generator-table-box td.generator-run::after,
.generator-box .generator-table-box td.generator-stop::after,
.generator-box .generator-table-box td.generator-repair::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  display: inline-block;
  margin-left: 0.13333333rem;
  background-color: green;
  border: 1px solid #fff;
  vertical-align: bottom;
}
.generator-box .generator-table-box td.generator-stop::after {
  background-color: yellow;
}
.generator-box .generator-table-box td.generator-repair::after {
  background-color: red;
}
.history-box {
  padding: 0.13333333rem 0.26666667rem;
  border-bottom: 1px solid #1970b0;
  margin-bottom: 0.53333333rem;
}
.history-box .history-left {
  width: 100%;
  height: 4rem;
  float: left;
}
.history-box .history-left table {
  padding: 0.26666667rem 0;
  width: 100%;
}
.history-box .history-left table tr {
  width: 100%;
}
.history-box .history-left table tr td {
  line-height: 0.8rem;
}
.history-box .history-left table tr td h5 {
  font-weight: normal;
  font-size: 0.29333333rem;
  color: #FFF;
}
.history-box .history-left table tr td p {
  font-size: 0.32rem;
  color: #f9f726;
  text-align: right;
}
.history-box .history-right {
  width: 50%;
  height: 4rem;
  float: right;
}
.history-box .history-right #chart4 {
  widows: 100%;
  height: 4rem;
}
