.main-container{
    width: 100%;
    background-color: rgba(20,70,80,.5);
    border: 1px solid #2a6fa8;
    box-sizing: border-box;
    padding: 0 20px;
    padding-bottom: 20px;
    height:auto;
}

.switch-box{
    height: 55px;
}
.switch-box .switcher{
    height: 40px;
    padding:0 40px 0 40px;
    font-size:14px;
    line-height: 40px;
    float: left;
    border-top: 1px solid #3eb4ff;
    border-bottom: 1px solid #3eb4ff;
    position:relative;
    box-sizing:border-box;
    cursor:pointer;
    background-color: #083634;
}
.switch-box .switcher:hover{
    background: rgba(80, 225, 245, 0.1);
}
.switch-box .switcher::after{
    content:"";
    display:inline-block;
    position:absolute;
    width: 1px;
    height: 38px;
    background-color: #2c74b5;
    right: 0;
    top: 1px;
}
.switch-box .switcher:first-child{
    border-left: 1px solid #3eb4ff;
}
.switch-box .switcher:last-child{
    border-right: 1px solid #3eb4ff;
}
.switch-box .current{
    font-weight:bold;
    box-shadow: 0 0 6px 0 rgba(96,255,238,.5) inset ;
    /* background: radial-gradient(ellipse at center top ,rgba(75,155,190,.8)5%,rgba(35,115,170,.8)50%,rgba(35,115,170,0)70% ); */
}
.switch-box .current::before{
    content:"";
    text-align: center;
    display:block;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 55px;
    background: url(../images/switcher.png) no-repeat center center;
    background-size:cover;
    z-index:0;
}
.switch-box .switcher span{
    position:absolute;
    z-index:2;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}



.main-container ul.power-type>li{
    display:none;
}
.main-container ul.power-type>li.current{
    display:block;
}



.select-box{
    width: 100%;
    height: 60px;
    position:relative;
    box-sizing: border-box;
    border: 1px solid #49e2f7;
    border-bottom: 0px dashed transparent;
    background-color: rgba(0,0,0,.3);
    
}
.select-left-box{
    float: left;
}
.classify-box li{
    float: left;
    margin-left: 40px;
    line-height: 60px;
    font-size:16px;
    cursor:pointer;
}
.classify-box li:hover{
    background: radial-gradient(circle at center,rgba(80,250,190,.3) 0,rgba(80,250,190,0) 78%);
}
.classify-box li.current{
    color:#fffd58; 
    position:relative;
}
.classify-box li.current::after{
    content:"";
    position:absolute;
    width: 40px;
    height: 2px;
    bottom: 10px;
    left:50%;
    margin-left:-20px;
    background-color: #fffd58;
}

.select-right-box{
    float: right;
}
.date-select-box{
    float: left;
    margin-left: 40px;
    margin-right: 20px;
    display:inline-block;
    line-height: 60px;
}
.date-select-box input{
    background-color: #FFF;
    border-color: #155387;
    color:#155387;
    margin-left: 10px;
    padding: 2px 15px;
    font-size:12px;
}


.table-box{
    width: 100%;
    height: auto;
    background-color: rgba(10,40,45,.3);
    box-sizing:border-box;
    border: 1px solid #33a8e7;
    font-size:12px;
    position:relative;
}
.table-box .table-classify-content{
    display:none;
    transform:scale(.75);
    transition:all .3s;
}
.table-box .table-classify-content.current{
    display:block;
    transform:scale(1);
}
.table-box .table-content{
    margin-bottom: 20px;
}
.table-title{
    height: 50px;
    line-height: 50px;
    font-size:14px;
    font-weight:normal;
    position:relative;
    overflow:hidden;
    box-sizing:border-box;
    border-bottom: 1px solid #8aa1b6;
    border-top: 2px solid #51e0ff;
}
.table-title::before{
    content:"";
    display:inline-block;
    width: 4px;
    height: 36px;
    background-color: #fffd58;
    position:absolute;
    left: 10px;
    top: 7px;
}

.table-title h4{
    font-size:14px;
    font-weight:normal;
    display:block;
    position:absolute;
    left: 20px;
}

.table-box table{
    width: auto;
    min-width:100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.table-box table tbody{
    background-color: rgba(0,0,0,0.2);
}
.table-box table tr{
    height: 40px;
    border-bottom: 1px solid #829baf;
    line-height: 40px;
    background-color: rgba(0,0,0,.1);
}
.table-box table tr:nth-child(even){
    background-color: rgba(0,0,0,.3);
}
.table-box table tr td,.table-box table tr th{
    box-sizing:border-box;
    padding-left: 20px;
    border-right: 1px solid #829baf;
    width:12.5vw;
}
.table-content>table>tbody>tr>td:first-child,.table-content>table>thead>tr>th:first-child{
    width:60px;
}

.table-content table.table-auto{
    table-layout: auto;
}
.table-events{
    width: 100%;
    height: auto;
    box-sizing:border-box;
    padding: 10px;
    background-color: rgba(0,0,0,.4);
    margin-top: 10px;
}
.table-events ol{

}
.table-events ol li{
    font-size:12px;
    color:#FFF;
    line-height: 24px;
}

.tb-h6{
    width: 100%;
    overflow-x:scroll;
    overflow-y:hidden;
}
.tb-h6>table>tbody{
    display:block;
    min-width:100%;
    max-height: 240px;
    overflow-y:scroll;
    overflow-x: hidden;
}

.tb-h8>table>tbody{
    max-height: 320px;
}

.tb-h6::-webkit-scrollbar{
    width:15px;
    height: 15px;
    background-color: rgba(0,0,0,.3);
}
.tb-h6::-webkit-scrollbar-thumb {
    background-color: rgba(45,140,190,.6);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,.5);
}
.tb-h6>table>tbody::-webkit-scrollbar{
    width:15px;
    height: 15px;
    background-color: rgba(0,0,0,.3);
}
.tb-h6>table>tbody::-webkit-scrollbar-thumb {
    background-color: rgba(45,140,190,.6);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,.5);
}

.tb-h6>table>thead,.tb-h6>table>tbody>tr{
    display:table;
    width: 100%;
    table-layout: fixed;
}
.tb-h6>table>thead{
    width:calc(100% - 1.5em);
}
.no-pd{
    padding: 0 !important;
}
.generator-run::before{
    content:"";
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #00b050;
}
.generator-stop::before{
    content:"";
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ffff00;
}
.generator-repair::before{
    content:"";
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ff0000;
}



.chart-box{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(20,80,95,.5);
    box-sizing:border-box;
}
.chart-container{
    width: 48%;
    height: 280px;
    border: 1px solid #4ac4db;
    background-color: rgba(15,59,70,.5);
    box-shadow:0 0 15px 2px #48d3e9 inset;
}
.chart-container:nth-child(1){
    float: left;
}
.chart-container:nth-child(2){
    float: right;
}
.chart-container-one{
    width: 90%;
    height: 320px;
    border: 1px solid #4ac4db;
    background-color: rgba(15,59,70,.5);
    box-shadow:0 0 15px 2px #48d3e9 inset;
}


.history-box{
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing:border-box;
    padding-bottom: 40px;
}
.history-box .table-content{
    background-color: rgba(20,70,80,.3);
}
.history-box .chart-box{
    padding:10px 10px;
    background-color:transparent;
}
.history-box .chart-box .chart-container{
    width:50%;
    box-sizing:border-box;
    float:left;
}
.history-box .history-data-box{
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding: 10px;
    height: 280px;
}
.history-box .history-data-box>table{
    min-width:100%;
    table-layout: auto;
    text-align:left;
}
.history-box .history-data-box>table>tbody{
    display:block;
    height:240px;
    overflow-y:scroll;
}
.history-box .history-data-box>table>thead{
    display:table;
    width:calc(100% - 1.5em);
}
.history-box .history-data-box>table>tbody::-webkit-scrollbar{
    width:15px;
    height: 15px;
    background-color: rgba(0,0,0,.3);
}
.history-box .history-data-box>table>tbody::-webkit-scrollbar-thumb {
    background-color: rgba(45,140,190,.6);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,.5);
}